.app {
  display: flex;
  justify-content: center;
  .container {
    width: 100%;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          padding-left: 10px;
          img {
            width: 100px;
            border-radius: 50%;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-right: 90px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }

    // Events Page
    .events_page {
      justify-content: center;
      padding: 0 80px;

      .events_list {
        display: flex;
        .event {
          padding: 5px;
          width: 300px;
          height: 300px;
        }
      }
    }

    // Event Page
    .event_detail {
      padding: 0 80px;
      img {
        width: 400px;
        height: auot;
      }
      .event {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .event_title {
          font-size: 24px;
          font-weight: 500;
        }
        .event_description {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
    .event_user {
      justify-content: center;
      padding: 0 80px;
      img {
        width: 50px;
        border-radius: 50%;
      }
    }

    // User Page

    .user_list {
      padding: 0px 80px;

      .user {
        padding: 10px;
        width: fit-content;
        padding: 10px;
        cursor: pointer;
        &:hover {
          border-radius: 5%;
          background-color: navy;
          color: gold;
        }
      }
    }

    // FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
  }
}
